<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Videoteka.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-8G3IP5J;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Videoteka.Properties.Settings._913_PR_PantyiukhovConnectionString"
            connectionString="Data Source=169.254.131.3;Initial Catalog=913-PR-Pantyiukhov;User ID=stud1;Password=Student1$$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
